<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body style="display: flex;justify-content: center;align-items: center;background-color: rgb(64, 47, 212);">
    <div style="display: flex;justify-content: center;align-items: center;border: 3px solid black;border-radius: 15px;">
        <h2 style="color: red;">hi <%= name %> admin</h2><br><br>
        <button type="button" class="btn btn-outline-primary" onclick="window.location.href='/'"    >Addition</button><br>
        <button type="button" class="btn btn-outline-success"   onclick="window.location.href='/'" >Exhibits</button><br><br>
        <button type="button" class="btn btn-outline-danger"    onclick="window.location.href='/logOutManger'" >Log out</button>

    </div>

    
</body>
</html>