<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>strom shoop</title>
        <meta name="description" content="" /> <!-- ba3den -->
        <link rel="stylesheet" href="../public/styel.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="../public/mane.js"></script>   
    </head>
    <body>
        <header>
                <div class="heder">
                    <h2>storm card</h2>
                    
                    
                    <div>  
                        <span><%= name %> <i class='bx  bx-user'  ></i></span>
                        <input class="log-in" type="button" value="card" onclick="window.location.href='/pkg'" />

                    </div>    
                </div>

                
        </header> 
            
                
        <div class="prodoie-part">

            <div class="prodoie">
                <img class="img" src="strom.png" alt="pro">
            
                <p class="name">Flash</p>
                <hr>
                <p class="cach">10$</p>
                 <div>
                    <button class="bay">add to card<i class='bx bxs-cart'></i></button>
                    <button class="sey">prodduct vision</button>
                </div>
            </div> 

        </div>    

        <div class="foter">                       <!-- البلاصة الفضية في الاسفل فيها الخدمة وحسابات الاونلاين وتعريف للستروم (; -->
                <ul>  <h3 id="right">Copyright</h3>
                    <p> © 2025 C_Storm. All rights reserved .
                        <br>All content,including texts,images,logos and <br>
                        designs is protected under copyright and trademark laws </p>
                </ul>

                <ul>  <h3 id="right"> privacy policy</h3>
                <P> Use of this website is subject to our <br> terms of use and privacy policy </P>
                
                </ul>

                <ul>  <h3 id="right">Account and user </h3>
                    <p>. you may be required to create an <br>account to access certain servises </p>
                    <p>. you must keep your login credentials confidential<br> and not share them whith any third party</p>
                    <p>. We reserve the right to suspend or terminate<br> your account if you violate these terms</p>
                </ul>
                <ul>
                    <h3 id="right"> Cantact us </h3>
                    <p>If you have any inquiries about these terms, you can contact us via email at:
                        support@cstorm.com</p>
                </ul>
        </div>
        


 
    </body>
</html>